{% load static %}
{% load crispy_forms_tags %}


<form action="{% url 'administrador:adicional_edit' inventario.pk adicional.pk %}" method="post" novalidate>

<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">

            {% csrf_token %}
              <div class="col-6">
                {{ form.procesador|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.ram|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.sistema|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.disco|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.placa|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.office|as_crispy_field }}
              </div>

    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
    </div>
</form>




