{% load static %}
{% load crispy_forms_tags %}

            <form method="post" action="{% url 'administrador:monitor_edit' inventario.pk monitor.pk %}"  enctype="multipart/form-data", novalidate>

              <div class="panel panel-default">
                <div class="panel-body">
      
                    <div class="row">
                      {% csrf_token %}
                      <div class="col-4">
                        {{ form.marca|as_crispy_field }}
                      </div>
                      <div class="col-4">
                        {{ form.modelo|as_crispy_field }}
                      </div>
                      <div class="col-4">
                        {{ form.serie|as_crispy_field }}
                      </div>
                      <div class="col-4">
                        {{ form.imagen|as_crispy_field }}
                      </div>

                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>

                    <a href=" {% url 'administrador:monitor_delete' inventario.pk monitor.pk %} " class="btn btn-danger float-right" style="color: white;">Borrar</a>
  
                </div>
              </div>
            </form>

              <br>
          
