{% load static %}
{% load crispy_forms_tags %}


<form method="post" action="{% url 'administrador:inventario_delete' inventario.pk %}" >

            <h1 class="h2"  style="text-transform: uppercase;" >¿Eliminar Inventario {{inventario.codigo}} ?</h1>
            <hr>
            <div class="panel panel-default" style="align-content: center;">
              <div class="panel-body">
                  <div class="row">

                        {% csrf_token %}


                    </div>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                    
                  </div>
              </div>
  </form>

              <br>
         

