{% extends 'inventario_app/administrador/despacho/heder.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
            
            <h1 class="h3">Crear Despacho</h1>
            <br>
            <div class="container" style="align-content: center;">
                  <div class="row">
                    <div class="col-md-8 col-sm-10 col-12">
                      <form method="post" enctype="multipart/form-data", novalidate>
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-4">
                            {{ form.usuario|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.area|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.solicitado|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.fecha_entrega|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.destino|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.extras|as_crispy_field }}
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success">Agregar</button>
                        <a href="{% url 'administrador:inventario_detalle' inventario.pk %}" class="btn btn-danger">Cancelar</a>

                      </form>
                      <br>
                    </div>
                  </div>
              </div>
            
          {% endblock %}  