{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--   <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Registrar</a>
-->

  <br>
 <center><a href="{% url 'home' %}">
  <img    src="{% static "img/logo.jpg" %}" height="70px" class=" img-fluid img-thumbnail" style="align-content: center;"  alt="">


</a></center> 
  <br>
  <h2 class="text-center">  Aplicación de Gestión Informática
  </h2>
  <br>
  <div class="text-center">  
    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Ingresar</a>
  </div>

  <hr>
  <p class="text-center text-muted">
    Fundación Educacional Boston Educa

  </p>
  <p class="text-center text-muted">&copy; 2019-2021</p>

<!--
  <a href="http://192.168.0.181:8080/postulaciones/" target="_blank">Plataforma de postulaciones</a>
  <br>
  <a href="http://192.168.0.181:8000/" target="_blank">Plataforma de pruebas</a>
-->




{% endblock %}
