{% extends 'inventario_app/administrador/inventario/heder.html' %}

{% load static %}
{% block content %}

<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/logo.jpg"  %}" width="200" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_cc' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
        <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-header">
                <img src="{% static  "colegios_images/BCAM.png"  %}" >

            </div>
            <div class="card-body">
            <a href="{% url 'administrador:index' %}" class="btn btn-primary btn-sm">Ver</a>
            </div>
        </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-header">
                <img src="{% static  "colegios_images/BCLF.png"  %}" >
    
            </div>
            <div class="card-body">
                <a href="{% url 'administrador:index_bclf' %}" class="btn btn-primary btn-sm">Ver</a>
            </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-header">
                <img src="{% static  "colegios_images/BCM.png"  %}" >
    
            </div>
            <div class="card-body">
                <a href="{% url 'administrador:index_bcm' %}" class="btn btn-primary btn-sm">Ver</a>
            </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-header">
                <img src="{% static  "colegios_images/CEB.png"  %}" >
    
            </div>
            <div class="card-body">
                <a href="{% url 'administrador:index_ceb' %}" class="btn btn-primary btn-sm">Ver</a>
            </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CSE.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_cse' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/SSLA.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_ssla' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CMAN.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_cman' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CSAB.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_csab' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CICV.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_cicv' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CSFP.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_csfp' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CSM.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_csm' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/IOM.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_iom' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/CLA.png"  %}" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_cla' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="width: 18rem;">
                <div class="card-header">
                    <img src="{% static  "colegios_images/BALS.png"  %}" width="150" >
        
                </div>
                <div class="card-body">
                    <a href="{% url 'administrador:index_bals' %}" class="btn btn-primary btn-sm">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}