@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: rgb(0, 0, 0);
	font-size: 2.3em;
}

em {
	color: #232027;
}

div.gallery ul {
	list-style-type: none;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 160px;
	height: 100px;
	margin: 6px;
	padding: 6px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 6px;
	width: 160px;
	height: 70px;
	background: #f0f0f0;
}

div.gallery ul li img:hover {
	width: 180px;
	height: 100px;
	margin-top: -120px;
	margin-left: -120px;
	top: 65%;
	left: 65%;
}

p.attribution {
	font-family: 'Consolas';
	color: #000;
	clear: both;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
}

p.attribution a {
	color: #4c8d7c;
}

/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}