{% load static %}
{% load crispy_forms_tags %}

<form method="post" action="{% url 'soporte:reporte_new_add' reporte.pk  %}" enctype="multipart/form-data", novalidate>
  {% csrf_token %}
  <div class="row">

    <div class="col-12">
      {{ form.texto|as_crispy_field }}
    </div>
    
  </div>
  <button type="submit" class="btn btn-success">Agregar</button>
  <a href="{% url 'soporte:reportes' %}" class="btn btn-danger">Cancelar</a>

</form>