{% load static %}
{% load crispy_forms_tags %}


      
      
            <form method="post" action="{% url 'soporte:incidencia_add' inventario.pk %}" enctype="multipart/form-data", novalidate>

              <div class="panel panel-default">
                <div class="panel-body">

                  <div class="row">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="col-12">{{ form|crispy }}</div>
                  </div>
                  <button type="submit" class="btn btn-success">Agregar</button>
                  <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                </div>
              </div>
            </form>

              <br>
