{% load static %}
{% load crispy_forms_tags %}   
      
<form method="post" action="{% url 'soporte:monitor_add' inventario.pk %}" enctype="multipart/form-data", novalidate>

            <div class="panel panel-default">
              <div class="panel-body">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-4">
                            {{ form.marca|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.modelo|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.serie|as_crispy_field }}
                          </div>
                          <div class="col-4">

                            {{ form.imagen|as_crispy_field }}
                          </div>

                        </div>
                        <div>
                        <button type="submit" class="btn btn-success">Agregar</button>
                        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                        </div>
                        </div>
              </div>
</form>
         

