{% extends 'inventario_app/administrador/insumo/heder.html' %}
{% load static %}
{% load crispy_forms_tags %}            
     {% block content %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <a href="{%url 'administrador:insumo_index' %}"> <i class="fas fa-arrow-left"></i> Atrás</a>

      <h1 class="h2">Insumos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <img class="img-thumbnail" src="{% static  "colegios_images/CICV.png"  %}" alt="">

            </div>
        
        </div>
    </div>       
          <div class="table-responsive">
            <table class="table table-hover table-striped display table-sm">
              <thead >
                <tr class="table-primary">
                  <th>
                    Tipo
                  </th>
                  <th>
                    Total
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Mouse
                  </td>
                  <td>
                    {{conteo.suma}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Teclado
                  </td>
                  <td>
                    {{conteo_teclado.suma}} 
                  </td>
                </tr>
                <tr>
                  <td>
                    Cable VGA
                  </td>
                  <td>
                    {{conteo_vga.suma}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Cable HDMI
                  </td>
                  <td>
                    {{conteo_hdmi.suma}}
                  </td>
                </tr>
                <tr>
                 <td>
                    Cable de red
                 </td>
                 <td>
                    {{conteo_red.suma}}
                 </td> 
                </tr>
              </tbody>

            </table>
          </div>
{% endblock %}

            
          