{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated and user.is_administrador %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontello-2f186091/css/fontello.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/administrador.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/images_animates.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
    <link rel="stylesheet" type="text/css" href="{% static "/css/style.css?v16" %}">

    <title>Administrador</title>
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 1px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 33.33%;
          padding: 5px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
</head>
<body>
  <nav class="navbar  fixed-top  flex-md-nowrap p-0 " style="background-color: #0D32B1;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href='/' style="color: white;">Departamento Informática</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Salir</a>
      </li>
    </ul>
  </nav>
      <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <img    src="{% static "img/logo.jpg" %}"  class="img-thumbnail" style="width:230px;height:70px;"  alt="">

                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " href="/">
                        <i class="fas fa-table"></i>
                        Inventario 
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:actividad' %}">
                        <i class="fas fa-clipboard-list"></i>
                        Actividad
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:reportes' %}">
                        <i class="far fa-file-alt"></i>
                        Reportes Diarios
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:usuarios' %}">
                        <i class="fas fa-users"></i>                   
                        Usuarios
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'administrador:despacho_list' %}">
                            <i class="fas fa-dolly"></i>   
                            Movimientos
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{%url 'administrador:insumo_index' %}">
                        <i class="fas fa-desktop"></i>
                          Insumos
                      </a>
                  </li>         
                  </ul>
          
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                
                    <span> <strong>Usuario</strong> {{user.username}}</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                      <span data-feather="plus-circle"></span>
                    </a>
                  </h6>
                </div>
              </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">                         <i class="fas fa-desktop"></i>
                Insumos</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                      <a onclick="return abrir_modal('{% url 'administrador:insumo_form' %}','Agregar Nuevo Insumo')" class="btn btn-sm btn-outline-secondary">
                          Agregar Insumos
                      </a>
                    </div>
                
                </div>
            </div>
            <br>     
            
            
            <div class="container-fluid">
              <div class="row">
                <div class="col-4">
                  <div class="card border-dark mb-3" style="width: 18rem;">
                      <div class="card-header">
                          <img src="{% static  "colegios_images/logo.jpg"  %}"  width="220">
          
                      </div>
                      <div class="card-body">
                      <a href="{% url 'administrador:CC' %}" class="btn btn-primary btn-sm">Ver</a>
                      </div>
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="card border-dark mb-3" style="width: 18rem;">
                      <div class="card-header">
                          <img src="{% static  "colegios_images/BCAM.png"  %}" >
          
                      </div>
                      <div class="card-body">
                      <a href="{% url 'administrador:BCAM' %}" class="btn btn-primary btn-sm">Ver</a>
                      </div>
                  </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                      <div class="card-header">
                          <img src="{% static  "colegios_images/BCLF.png"  %}" >
              
                      </div>
                      <div class="card-body">
                          <a href="{% url 'administrador:BCLF' %}" class="btn btn-primary btn-sm">Ver</a>
                      </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                      <div class="card-header">
                          <img src="{% static  "colegios_images/BCM.png"  %}" >
              
                      </div>
                      <div class="card-body">
                          <a href="{% url 'administrador:BCM' %}" class="btn btn-primary btn-sm">Ver</a>
                      </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                      <div class="card-header">
                          <img src="{% static  "colegios_images/CEB.png"  %}" >
              
                      </div>
                      <div class="card-body">
                          <a href="{% url 'administrador:CEB' %}" class="btn btn-primary btn-sm">Ver</a>
                      </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CSE.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CSE' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/SSLA.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:SSLA' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CMAN.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CMAN' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CSAB.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CSAB' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CICV.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CICV' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CSFP.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CSFP' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CSM.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CSM' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/IOM.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:IOM' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card border-dark mb-3" style="width: 18rem;">
                          <div class="card-header">
                              <img src="{% static  "colegios_images/CLA.png"  %}" >
                  
                          </div>
                          <div class="card-body">
                              <a href="{% url 'administrador:CLA' %}" class="btn btn-primary btn-sm">Ver</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="card border-dark mb-3" style="width: 18rem;">
                        <div class="card-header">
                            <img src="{% static  "colegios_images/BALS.png"  %}" width="170">
                
                        </div>
                        <div class="card-body">
                            <a href="{% url 'administrador:BALS' %}" class="btn btn-primary btn-sm">Ver</a>
                        </div>
                    </div>
                </div>
              </div>
          </div>

      </main>


{% endif %}
<div id="popup"></div>

</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/jquery.plugin.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>    
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() { // check whether your page is loadded fully
    $("img").each(function() {   // for each img it will assign img-responsive class or img-fluid 
        $(this).addClass("img-responsive")
    })
  })
</script>

<script>
  var modal;
  function abrir_modal(url, titulo)
  {
      modal = $('#popup').dialog(
      {
          title: titulo,
          modal: true,
          width: 500,
          resizable: false
      }).dialog('open').load(url)
  }
  
  function cerrar_modal()
  {
      modal.dialog("close");
  }
</script>
<script type="text/javascript">
  $(document).ready(function() {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
        });
  } );
</script>
</html>