{% load static %}
{% load crispy_forms_tags %}
          <form method="post" action="{% url 'administrador:insumo_form' %}" enctype="multipart/form-data", novalidate>
   
              <div class="panel panel-default">
                      
                      <div class="panel-body">
                        <div class="row">
                          {% csrf_token %}
                          <div class="col-6">
                            {{ form.insumo|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.colegio|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.factura|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.fecha|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.proveedor|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.cantidad|as_crispy_field }}
                          </div>
                        </div>


                      </div>
                      <button type="submit" class="btn btn-success">Agregar</button>
                      <button type="button" class="btn btn-default" onclick="return cerrar_modal()">

            </div>

          </form> 
          